{{> header}}
   <h2 style="font-family: sans-serif;">Hello, {{email}}!</h2>
   <p style="font-size: 16px; color: #333; font-family: sans-serif;font-weight:300;">The E-Portolio HoD has assigned you as co-supervisor for {{studentName}}'s project.You may click the link below to access the platform: <a href="{{link}}">link to platfrom</a>. You will be requested this code to access the platform as well: <b>{{code}}</b>.</p>
{{> footer}}